@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
/** Font */
/** COLOR */
/** CSS Rest */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Poppins, "sans-serif";
}

/**** Header Section ****/
header {
  display: grid;
  grid-template-columns: 1fr 4fr 7fr;
  grid-template-rows: 60vh;
}

/** Column one */
.header__sidebar {
  background-color: #FFCA05;
}

/** Column two */
.header__picture {
  background-image: url(../images/soroush.jpg);
  background-size: cover;
  width: 100%;
  background-clip: border-box;
  background-position-y: 50%;
}

/** Column three */
.header__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 75px;
}

.header__info--head-up {
  font-size: 4rem;
  font-weight: 400;
}

.header__info--head-down {
  font-size: 4rem;
}

.header__info--line {
  border: 5px solid #FFCA05;
  width: 25%;
  margin: 1.4rem 0;
}

.header__info--text {
  font-size: 3rem;
  font-weight: 300;
  letter-spacing: 4px;
}

/**** Main Section ****/
main {
  display: grid;
  grid-template-columns: 1fr 4fr 7fr;
  color: #fff;
}

.main__sidebar {
  background-color: #FFCA05;
}

.main__contact {
  background-color: #292934;
  padding: 75px;
}

/** About Me */
.about-me__text {
  font-size: 2rem;
  margin-top: 1rem;
}

/** Contact Me */
.main__contact--contact-me {
  margin: 75px 0;
}

.contact-info {
  margin-top: 1rem;
}

.contact-head {
  font-size: 2rem;
}

.contact-text {
  font-size: 1.8rem;
}

/** Hobbies */
.main__contact--hobbies {
  font-size: 2rem;
}

.hobbies-icons {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin-top: 2rem;
}

.hobbies-icons > span > i {
  color: #FFCA05;
  font-size: 4rem;
  margin-bottom: 1rem;
}

.youtube {
  background-color: rgb(196, 0, 0);
  color: #fff;
  border-radius: 5px;
  margin-left: 2px;
  padding: 0 2px;
}

/**** Information ****/
.main__information {
  background-color: #22222D;
  padding: 75px;
}

/** Education */
.education-info {
  display: flex;
  margin-top: 1rem;
}

.education-info__section {
  font-size: 2rem;
  margin-right: 5rem;
}

/** Experience */
.main__information--experience {
  margin: 75px 0;
}

.main__information--experience-section {
  margin-top: 1rem;
}

.experience-section__head {
  font-size: 2rem;
  color: #fff;
}

.experience-section__sec {
  font-size: 1.8rem;
}

.experience-section__sec-first {
  display: inline-block;
  width: 130px;
  background-color: #FFCA05;
  color: #111;
  border-radius: 5px;
  text-align: center;
  margin-right: 5px;
}

/**** Expertise ****/
.expertise-chart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 4rem;
}

.expertise-chart > span {
  display: block;
  width: 150px;
  height: 150px;
  background-color: #FFCA05;
  color: #111;
  border-radius: 50%;
  border: 5px solid #fff;
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

/**** Footer ****/
footer {
  grid-column: 1/-1;
  background-color: #292626;
  color: #fff;
  text-align: center;
}

.copyright {
  font-size: 1.8rem;
}

.copyright-sign {
  font-size: 2rem;
  color: #FFCA05;
}

/** Yellow Line after each Heading**/
.head_line {
  font-size: 3rem;
}

.head_line::after {
  content: "_";
  color: #FFCA05;
}/*# sourceMappingURL=style.css.map */